/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2323af;
  --ifm-color-primary-dark: #20209d;
  --ifm-color-primary-darker: #1e1e95;
  --ifm-color-primary-darkest: #18187a;
  --ifm-color-primary-light: #2626c1;
  --ifm-color-primary-lighter: #2828c9;
  --ifm-color-primary-lightest: #3939d8;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #c2c4d3;
  --ifm-color-primary-dark: #aaadc2;
  --ifm-color-primary-darker: #9fa2ba;
  --ifm-color-primary-darkest: #7b80a0;
  --ifm-color-primary-light: #dadbe4;
  --ifm-color-primary-lighter: #e5e6ec;
  --ifm-color-primary-lightest: #ffffff;
}
